h1{
    display: flex;
    justify-content: center;
}

body{
    background-color: #CFF5E7;
    width: 100%;
    height: 100%;
}
.header{
    height: 10%;
    width: 20%;
    /* border: 1px solid red; */
    margin: auto;
}
.players{
    background-color: #A0E4CB;
    height: 40vh;
    width: 28vw;
    border: 1px solid black;
     display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    /* justify-content: center;
    justify-items: center;
    border: 1px solid black;
    position: absolute;
    padding: 10px;
    margin: 10px; */
}
.btndiv{
    width: 10vw;
    height: 10vh;
    /* border: 1px solid violet; */
}
button{
    /* display: inline-block; */
    background-color: #59C1BD;
    width: 90%;
    height: 90%;
    padding: 5px;
    border: none;
    border-radius: 20px;
    /* margin: 10px; */
    position: relative;
    /* left: 30%; */

}
button:hover{
    background-color: #0D4C92;
    cursor: pointer;
    border: 2px solid black;
    color: snow;
}

.player1{
   margin-bottom: 10px;
   width: 20vw;
   padding: 10px;
   position: relative;
   /* margin: 10px auto; */
   flex-wrap: wrap;
}
.player2{
    /* display: block; */
    /* padding: 10px; */
    margin-bottom: 10px;
    width: 20vw;
    padding: 10px;
    position: relative;
    /* margin: 10px auto; */
    flex-wrap: wrap;
}
.bordsize{
    margin-bottom: 10px;
    width: 20vw;
    padding: 10px;
    position: relative;
    flex-wrap: wrap;
}
.wrapper{
    height: 48vw;
    width: 80vh;
    /* border: 1px solid blue; */
    /* display: flex; */
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    row-gap: 0.5%;
    position: relative;
    left: 31%;
    top: -38vh;
}
.row{
    background-color: #59C1BD;
    border: 2px solid black;
    height: 8vh;
    width: 8vw;
    /* padding: 20%; */
    margin-top: 0;
}
.column{
    background-color: #59C1BD;
    border: 1px solid black;
    height: 5vh;
    width: 5vw;
    color: snow;
    font-size: xx-large;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center; 
    vertical-align: middle;
    vertical-align: middle;
    margin-top: 0;
    /* padding: 20px auto; */
    
}
.column:hover{
    background-color: #A0E4CB;
    cursor: pointer;
}
.container{
    /* background-color: #59C1BD; */
    /* display: grid;
    grid-template-rows: repeat(5,8vw);
    grid-template-columns: repeat(5,8vw); */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 85%;
    width: 98%;
    /* justify-content: center;
    align-items: center; */
    position: absolute;
    /* left: 28%;
    bottom: 20%; 
    top: 20%; */
    /* border: 1px solid red; */
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    margin-top: 0;
    padding: auto;
}

#p1,#p2{
    width: 10vw;
}
#turn{
    height: 5rem;
    width: 14rem;
    position: relative;
    /* left: 34.5rem;
    top: -11rem; */
    /* border: 1px solid red; */
    text-align: center;
    /* margin: auto; */
    left: 28%;

}
#playerTurn{
    top: 0;
    left: 0;
    padding: 7% 10%;
    margin-top: 5%;
}
.result{
    height: 5rem;
    width: 15rem;
    /* border: 1px solid green; */
    position: relative;
    /* left: 26.5rem;
    top: -9.8rem; */
    text-align: center;
    left: 41%;
    top: -142vh;
}
#game-result{
    top: 0;
    left: 0;
    padding: 2% 10%;
    overflow-wrap: normal;
}
.reset{
    height: 10vh;
    width:10vw;
    /* border: 1px solid green; */
    position: relative;
    left: 67%;
    top: -130vh;
}
#reset{
    width: 90%;
    height: 90%;
    margin: 2% 5%;
    left: 0;
    padding: 5% 10%;
    /* position: relative;
    left: 45%;
    bottom: 20%; */
}

.visible{
    visibility: visible;
}
.hidden{
    /* display: none; */
    visibility: hidden;
}

/* Responsive */

@media screen and (max-width: 1300px){
    .result{
        left: 40%;
        top: -125vh;
        /* left: 59%;
        top: -123vh; */
    }
    .bordsize{
        width: 22vw;
    }
    .reset{
        left: 61%;
        top: -110vh;
    }
}

@media screen and (max-width: 1160px){
    .bordsize{
        width: 22vw;
    }
    .reset{
        left: 62%;
        top: -115vh;
    }
    .result{
        left: 51%;
        top: -125vh;
        /* left: 59%;
        top: -123vh; */
    }
}
@media screen and (max-width: 950px){
    .bordsize{
        width: 27vw;
    }
    .header{
        width: 22%;
    }
    .reset{
        left: 104%;
        top: -62vh;
        height: 8vh;
        width: 14vw;
    }
    .result{
        left: 66%;
        top: -75vh;
    }
    .btndiv{
        width: 14vw;
        height: 8vh;
        margin-top: 20%;
    }
}
@media screen and (max-width: 768px){
    .btndiv{
        position: relative;
        left: -2%;
        top: -6%;
        margin-top: 20%;
    }
    .reset {
        left: 97%;
        top: -66vh;
    }
    
    .header{
        width: 32%;
    }
    .result {
        left: 42%;
        top: -77vh;
    }
    .wrapper{
        left: 14%;
        top: -38vh;
    }
}

@media screen and (max-width: 480px){
    .header{
        width: 50%;
        margin: 5px 150px;
        font-size: small;
    }
    .wrapper{
        height: 59vw;
        width: 60vh;
        left: 30%;
        top: -38vh;
    }
    .result{
        left: 81%;
        top: -90vh;
        display: flex;
        flex-wrap: wrap;
        font-size: small;
    }
    .reset {
        left: 90%;
        top: -70vh;
        height: 9vh;
        width: 16vw;
    }
    .btndiv {
        left: -9%;
        top: -6%;
        width: 15vw;
        height: 15vh;
    }
    button{
        width: 95%;
        height: 95%;
    }
    .players{
        width: 40vw;
        font-size: small;
    }
    .bordsize {
        width: 35vw;
    }
}
@media screen and (max-width: 420px){
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .btndiv {
        left: -3%;
        top: -1%;
        width: 25vw;
        height: 7vh;
    }
    .wrapper{
        left: 0;
        top: 0;
    }
    .result{
        left: 0;
        top: -27vh;
    }
    .reset{
        left: -38%;
        top: -75px;
        height: 8vh;
        width: 22vw;
    }
    .players {
        width: 50vw;
    }
    .bordsize {
        width: 39vw;
        text-align: center;
    }
    table{
        width: 40%;
        height: 34vh;
    }
    .container{
        left: 2%;
    }
}
@media screen and (max-width: 300px){
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .btndiv {
        left: -3%;
        top: -8%;
        width: 25vw;
        height: 7vh;
    }
    .wrapper{
        left: 0;
        top: 0;
    }
    .result{
        left: 0;
        top: -24vh;
    }
    .reset{
        left: -38%;
        top: 0;
        height: 8vh;
        width: 24vw;
    }
    .players {
        width: 62vw;
    }
    .bordsize {
        width: 39vw;
        text-align: center;
    }
    table{
        width: 40%;
        height: 34vh;
    }
    .container{
        left: 2%;
    }
}
